@font-face {
    font-family:Raleway ;
    src: url(Raleway/static/Raleway-Regular.ttf); 
}

body
{
    font-family: Raleway;
    font-style:normal;
}

#filtres
{
display: flex;
justify-content: space-between;

}
.Filtres
{  
    border: 1px solid rgb(0, 217, 255);
}

nav
{
    display: flex;
    justify-content: space-between;
    float: right;
    width: 400px;
    border: 1px solid black;
}

#activites
{
    border: 1px solid rgb(255, 102, 0);
}
header
{
    border: 1px solid rgb(81, 255, 0);
}
p
{
    border: 1px solid blue;
} 

#hebergement
{
    border: 1px solid rgb(255, 0, 0);
} 

aside
{
    border: 1px solid rgb(255, 0, 179);
}  

footer
{
    display: flex;
    justify-content: space-around;
    background-color:#F2F2F2;
}