/*General*/
@font-face {
    font-family:Raleway ;
    src: url(Raleway/static/Raleway-Regular.ttf); 
}
/* Body*/
body
{
    font-family: Raleway;
    font-style:normal;
}
a
{
    text-decoration: none;
}
/*Header*/
header>img
{
    width: 7.5em;
}
nav
{
 display: flex;
 justify-content: space-between;
 float: right;
 margin-right: 2%;
 width: 22%;
 font-weight: bold;
 padding-top: 1em;
}

/*rechercheBarreDeRecherche*/
.recherche>form
{
width:27em;
height: 3em;
border: 1px solid #F2F2F2;
display: flex;
justify-content: left;
border-radius: 1em;
}
.rechercheBoutonIcone 
{
display: flex;
align-items: center;
justify-content: center;
background-color:#F2F2F2;
width:3em;
border-top-left-radius: 1em;
border-bottom-left-radius: 1em;
}
.rechercheBoutonFormulaire
{
width: 15em;
font-family:Raleway;
font-size: 110%;
font-weight: bolder;
border-style: none;
}
.button
{
width: 13em;
font-size:100%;
color: white;
background-color:#0065FC;
border-top-right-radius: 1em;
border-bottom-right-radius: 1em;
border-style: none;
}
.button:active
{
    background-color:red;
}
/*rechercheFiltres*/
.Filtres
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
}
.rechercheFiltres
{
    width: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: 0.15em solid #F2F2F2;
    border-radius: 1em;
    padding-right: 0.2em;
    font-weight: bolder;
}

.rechercheFiltres>i
{
    height: 2em;
    width: 2em;
    background-color:#DEEBFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
    color:#0065FC;
}
.rechercheResultat
{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1%;
}
.rechercheResultat>i
{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border:0.2em solid#DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
    color:#0065FC;
}

/*hebergement*/
.Black
{
    color:#F2F2F2;
}
.Blue
{
    color:#0065FC;
}
.hebergement
{
    width: 93em;
    display: flex;
    flex-wrap: wrap;
}

/*hebergementPrincipal*/
.hebergement>article
{
width: 61em;
background-color: #F2F2F2;
border-radius: 1em;
}
.titreHebergement
{
    padding-left: 0.5em;
}
.hebergementLien
{
    margin:2em;
    color: black;
}
.hebergementPrincipalCartes
{   
    display: flex;
    flex-wrap: wrap;
}
.hebergementPrincipalCarteUnite
{
    width: 17.5em;
    height: 16em;
    margin: 1em;
    background-color:white;
    border-radius: 1em;
}
.textCarteMain
{
    margin-left: 1em;
    line-height: 80%;
    width: 15em;
    height: 6em;
    color:black;
}
.hebergementPrincipalImg
{
   width: 17em;
   height: 9em;
   object-fit: cover;
   padding : 0.25em;
   border-top-left-radius: 1em;
   border-top-right-radius: 1em;
}
/*hebergementPopulaire*/
.hebergement>aside
{
    width: 27em;
    margin-left: 2.7em;
    background-color: #F2F2F2;
    border-radius: 1em;
    padding-left: 2em;
}
.titreAside
{
    width: 17.5em;
    display: flex;
    justify-content: space-between;
}
.hebergementPopulaireCarte
{
    width: 25em;
    height: 10em;
    margin-top: 2em;
    margin-left: 0.5em;
    background-color:white;
    border-radius:1em;
}
.hebergementPopulaireCarte>a
{
    width: 20em;
    height: 10em;
    display: flex;
    justify-content:wrap;
    color:black;
}
.hebergementAsideImg
{
    margin: 0.25em;
    object-fit: cover;
    width: 8em;
    border-top-left-radius: 1em;;
    border-Bottom-left-radius: 1em;;
}
.hostingPopularWrapcontentContent
{
    line-height: 100%;
    margin-left: 1em;
    width: 16em;
    height: 8em;
}
.hostingPopularWrapcontentContent>div
{
    padding-top: 2em;
}
/*activites*/
.activites
{
    width: 93em;
}
.activitescadre
{
    display: flex;
    justify-content: wrap;
}
.activitesCardType1
{
   margin:1.5em;
   height: 35em;
   width: 20em;
   box-shadow: 5px 5px 7px #F2F2F2;
   background-color: white;
   border-radius: 1em;
}
.activitesCardType1>h3
{
    padding-left: 1em;
    color: black;
}
.activitesCardType1>img
{
    height:32em;
    width: 20em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.package1
{
    margin:1.5em;
    height:36em;
    width: 20em;
    display: flex;
    flex-direction: column;
}
.package1>.activitesCardType3
{
margin-top: 2em;
}

.activitesCardType2
{
    height: 20em;
    width: 20em;
    box-shadow: 5px 5px 7px #F2F2F2;
    background-color: white;
    border-radius: 5%;
}
.activitesCardType2>h3
{
    padding-left: 2em;
    color: black;
}
.activitesCardType2>img
{
    height: 17em;
    width: 20em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}
.activitesCardType3
{
    height: 13em;
    width: 20em;
    box-shadow: 5px 5px 7px #F2F2F2;
    background-color: white;
    border-radius: 1em;
}
.activitesCardType3>h3
{
    padding-left: 2em;
    color: black;
}
.activitesCardType3>img
{
    height: 10em;
    width: 20em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}
.package2
{
    margin:1.5em;
    height:36em;
    width: 20em;
    display: flex;
    flex-direction: column;
}
.package2>.activitesCardType2
{
margin-top: 2em;
}
/*Footer*/
footer
{
    width: 70%;
    background-color:#F2F2F2;
    height: 10em;
    display: flex;
    justify-content:space-between; 
    padding-left: 1%;
    padding-right: 29.5%;
}
footer>div
{
    display: flex;
    flex-direction: column;
}
.colonne>a
{
color: black;
}   

/* MEDIA QUERIES*/

@media screen and (max-width:320px)and (min-width:320px)
{

}
@media screen and (max-width:375px)and (min-width:321px)
{
}
@media screen and (max-width:425px)and (min-width:376px)
{
}
@media screen and (max-width:768px)and (min-width:426px)
{
}
@media screen and (max-width:1024px)and (min-width:769px)
{
    body
    {
        font-family: Raleway;
        font-style:normal;
        font-size: 1em;
    }
    
     .Filtres
     {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1%;
     }
        
    .rechercheResultat
    {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1%;
    }
        .hebergement
        {
           width:100%;
           display: flex;
           flex-wrap: wrap;
        }

        .hebergementPrincipalCartes
    {   
        margin-left: 1em;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid blue;
    }
        .hebergementPrincipalCarteUnite
{
    width: 17.5em;
    height: 16em;
    margin: 0.5em;
    background-color:white;
    border-radius: 1em;
    border: 1px solid red;
}
        .hebergement>article
       {
       width: 65%;
       background-color: #F2F2F2;
       border-radius: 1em;
       }
       .hebergement>aside
    {
        width: 30%;
        margin-left: 2%;
        background-color: #F2F2F2;
        border-radius: 1em;
        padding-left: 1em;
        border: 1px solid green;
    }
    
    
    /*activites*/
    .activites
    {
        width: 100%;
    }
    .activitescadre
    {
        display: flex;
        justify-content: wrap;
    }
    .activitesCardType1
    {
       margin:2.5em;
       height: 35em;
       width: 20em;
       box-shadow: 5px 5px 7px #F2F2F2;
       background-color: white;
       border-radius: 1em;
    }
    .activitesCardType1>h3
    {
        padding-left: 1em;
        color: black;
    }
    .activitesCardType1>img
    {
        height:32em;
        width: 20em;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .package1
    {
        margin:2.5em;
        height:36em;
        width: 20em;
        display: flex;
        flex-direction: column;
    }
    .package1>.activitesCardType3
    {
    margin-top: 2em;
    }
    
    .activitesCardType2
    {
        height: 20em;
        width: 20em;
        box-shadow: 5px 5px 7px #F2F2F2;
        background-color: white;
        border-radius: 5%;
    }
    .activitesCardType2>h3
    {
        padding-left: 2em;
        color: black;
    }
    .activitesCardType2>img
    {
        height: 17em;
        width: 20em;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius:1em;
    }
    .activitesCardType3
    {
        height: 13em;
        width: 20em;
        box-shadow: 5px 5px 7px #F2F2F2;
        background-color: white;
        border-radius: 1em;
    }
    .activitesCardType3>h3
    {
        padding-left: 2em;
        color: black;
    }
    .activitesCardType3>img
    {
        height: 10em;
        width: 20em;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius:1em;
    }
    .package2
    {
        margin:2.5em;
        height:36em;
        width: 20em;
        display: flex;
        flex-direction: column;
    }
    .package2>.activitesCardType2
    {
    margin-top: 2em;
    }
}
@media screen and (max-width:1440px)and (min-width:1025px)
{ 
}
@media screen and (max-width:1920px)and (min-width:1450px)
{ 

    body
    {
        font-family: Raleway;
        font-style:normal;
        font-size: 1.2em;
    }
    
     .Filtres
     {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1%;
     }
        
        .rechercheResultat
    {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1%;
    }
        .hebergement
        {
           width:100%;
           display: flex;
           flex-wrap: wrap;
        }
        .hebergementPrincipalCartes
    {   
        margin-left: 2em;
        display: flex;
        flex-wrap: wrap;
    }
        .hebergementPrincipalCarteUnite
        {
            margin: 1.4em;
        }
        .hebergement>article
       {
       width: 65%;
       background-color: #F2F2F2;
       border-radius: 1em;
       }
       .hebergement>aside
    {
        width: 30%;
        margin-left: 2.5%;
        background-color: #F2F2F2;
        border-radius: 1em;
        padding-left: 2em;
    }
    
    
    /*activites*/
    .activites
    {
        width: 100%;
    }
    .activitescadre
    {
        display: flex;
        justify-content: wrap;
    }
    .activitesCardType1
    {
       margin:2.5em;
       height: 35em;
       width: 20em;
       box-shadow: 5px 5px 7px #F2F2F2;
       background-color: white;
       border-radius: 1em;
    }
    .activitesCardType1>h3
    {
        padding-left: 1em;
        color: black;
    }
    .activitesCardType1>img
    {
        height:32em;
        width: 20em;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .package1
    {
        margin:2.5em;
        height:36em;
        width: 20em;
        display: flex;
        flex-direction: column;
    }
    .package1>.activitesCardType3
    {
    margin-top: 2em;
    }
    
    .activitesCardType2
    {
        height: 20em;
        width: 20em;
        box-shadow: 5px 5px 7px #F2F2F2;
        background-color: white;
        border-radius: 5%;
    }
    .activitesCardType2>h3
    {
        padding-left: 2em;
        color: black;
    }
    .activitesCardType2>img
    {
        height: 17em;
        width: 20em;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius:1em;
    }
    .activitesCardType3
    {
        height: 13em;
        width: 20em;
        box-shadow: 5px 5px 7px #F2F2F2;
        background-color: white;
        border-radius: 1em;
    }
    .activitesCardType3>h3
    {
        padding-left: 2em;
        color: black;
    }
    .activitesCardType3>img
    {
        height: 10em;
        width: 20em;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius:1em;
    }
    .package2
    {
        margin:2.5em;
        height:36em;
        width: 20em;
        display: flex;
        flex-direction: column;
    }
    .package2>.activitesCardType2
    {
    margin-top: 2em;
    }
}
@media screen and (max-width:2560px) and (min-width:1925px)
{ 
    body
{
    font-family: Raleway;
    font-style:normal;
    font-size: 1.6em;
}

 .Filtres
 {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1%;
 }
    
    .rechercheResultat
{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1%;
}
    .hebergement
    {
       width:100%;
       display: flex;
       flex-wrap: wrap;
    }
    .hebergementPrincipalCartes
{   
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
}
    .hebergementPrincipalCarteUnite
    {
        margin: 1.4em;
    }
    .hebergement>article
   {
   width: 65%;
   background-color: #F2F2F2;
   border-radius: 1em;
   }
   .hebergement>aside
{
    width: 30%;
    margin-left: 2.5%;
    background-color: #F2F2F2;
    border-radius: 1em;
    padding-left: 2em;
}


/*activites*/
.activites
{
    width: 100%;
}
.activitescadre
{
    display: flex;
    justify-content: wrap;
}
.activitesCardType1
{
   margin:2.5em;
   height: 35em;
   width: 20em;
   box-shadow: 5px 5px 7px #F2F2F2;
   background-color: white;
   border-radius: 1em;
}
.activitesCardType1>h3
{
    padding-left: 1em;
    color: black;
}
.activitesCardType1>img
{
    height:32em;
    width: 20em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.package1
{
    margin:2.5em;
    height:36em;
    width: 20em;
    display: flex;
    flex-direction: column;
}
.package1>.activitesCardType3
{
margin-top: 2em;
}

.activitesCardType2
{
    height: 20em;
    width: 20em;
    box-shadow: 5px 5px 7px #F2F2F2;
    background-color: white;
    border-radius: 5%;
}
.activitesCardType2>h3
{
    padding-left: 2em;
    color: black;
}
.activitesCardType2>img
{
    height: 17em;
    width: 20em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}
.activitesCardType3
{
    height: 13em;
    width: 20em;
    box-shadow: 5px 5px 7px #F2F2F2;
    background-color: white;
    border-radius: 1em;
}
.activitesCardType3>h3
{
    padding-left: 2em;
    color: black;
}
.activitesCardType3>img
{
    height: 10em;
    width: 20em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}
.package2
{
    margin:2.5em;
    height:36em;
    width: 20em;
    display: flex;
    flex-direction: column;
}
.package2>.activitesCardType2
{
margin-top: 2em;
}
}